@model EntityLayer.Concrete.Experience

@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}




@using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post))
{

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
               
                <p class="card-description"> Yeni Deneyim Ekleme Paneli</p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" name="Name" >
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        <input type="text" class="form-control" name="Date">
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>
                    <div class="form-group">
                        <label>Görsel URL</label>
                        <input type="text" class="form-control" name="ImageUrl" >
                        @Html.ValidationMessageFor(x => x.ImageUrl)
                    </div>
                  
                    
                    <div class="form-group">
                        <label for="exampleTextarea1">Açıklama</label>
                        <textarea class="form-control" name="Description" rows="6"></textarea>
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                    <button type="button" class="btn btn-light" onclick="window.history.back();">İptal</button>
                    
                </form>
            </div>
        </div>
    </div>
}
