@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "ReceiverMessageList";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar-Admin Gelen Kutusu</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gönderen</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Mesajı Gör</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in Model)
                        {
                            <tr>
                                <td>@items.WriterMessageID</td>
                                <td>@items.SenderName</td>
                                <td>@items.Subject</td>
                                <td>@items.Date</td>
                                <td><a href="/AdminMessage/AdminMessageDelete/@items.WriterMessageID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/AdminMessage/AdminMessageDetails/@items.WriterMessageID" class="btn btn-outline-success">Mesajı Gör</a></td>

                            </tr>

                        }
                    </tbody>
                </table>
                <br />
                <center><a asp-action="AdminMessageSend" class="btn btn-outline-primary">Yeni Mesaj Oluştur</a></center>
                <br />
            </div>
        </div>
    </div>
</div>

