@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Yetenek Güncelleme Paneli</p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="SkillId">Id</label>
                    @Html.TextBoxFor(x => x.SkillId, new { @class = "form-control", id = "SkillId" })
                </div>
                <div class="form-group">
                    <label for="Title">Başlık</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", id = "Title" })
                </div>
                <div class="form-group">
                    <label for="Value">Değer</label>
                    @Html.TextBoxFor(x => x.Value, new { @class = "form-control", id = "Value" })
                </div>

                <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                <button type="button" class="btn btn-dark" onclick="window.history.back();">İptal</button>
            </form>
        </div>
    </div>
</div>

